{% extends "layout.html" %}

{% block title %}
Configuración del sistema - Club Villa Elisa
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div id="carnet" style="border-style:solid;">
    <div class="card">
        <div class="row">
            <div class="column-12">
                <h1 style="font-family:'Brush Script MT', cursive; font-size:4rem; border-style:solid;"> Club Deportivo
                    Villa
                    Elisa</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <img class="card-img-left" src="{{photo}}" width="240px">
            </div>
            <div class="col-7">
                <div class="card-body">
                    <p>{{socio.apellido}} {{socio.nombre}} </p>
                    <p>{{socio.tipo_documento}}:{{socio.dni}}</p>
                    <p> Socio: #{{socio.id}}</p>
                    <p>Fecha alta: {{socio.inserted_at.strftime('%Y-%m-%d')}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                Estado: Estado del socio
            </div>
            <div class="col-7">
                <img class="card-img-left" src="{{ qrcode(url) }}" alt="Card image cap">
            </div>
        </div>
    </div>
</div>

<a href="{{ url_for('carnet.upload_image', id=socio.id) }}" class="btn btn-warning">Subir Imagen</a>

{% endblock %}